.bg-container {
  width: 640px;
  height: 128px;
}

.bg-bar {
  position: relative;
  width: 640px;
  height: 128px;
  background-image: url("/backgrounds/bg-gray.png");
  background-repeat: repeat-x;
  background-size: 128px 128px;
  image-rendering: pixelated;
  overflow: hidden;
}

.bg-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-image: url("/backgrounds/bg-color.png");
  background-repeat: repeat-x;
  background-size: 128px 128px;
  image-rendering: pixelated;
  transition: width 300ms linear;
  pointer-events: none;
}


.home {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 64px;
  height: 64px;
  background: url("/sprites/home.png") no-repeat center/contain;
  image-rendering: pixelated;
}

.character-wrapper {
  position: absolute;
  bottom: 0;
  width: 32px;
  height: 32px;
  transition: left 1s linear;
}
